.navbar .dropdown-menu .nav__item {
    padding: 5px 20px;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: unset;
}
.navbar .dropdown-menu .nav__item .nav__item-link {
    padding: 0px;
}
.navbar .dropdown-menu .nav__item:before, .navbar .dropdown-menu .nav__item:after {
    left: 20px;
    right: 20px;
}
.navbar .dropdown-menu .nav__item:hover:after {
    width: calc(100% - 40px);
}
.dropdown-menu {
    padding: 10px 0px !important;
}
@media (min-width: 992px) {
    .dropdown:hover > .dropdown-menu,
    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      margin-top: 0;
    }
  }

  /* Submenu positioning */
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    display: none;
    border-radius: 10px;
  }
  .dropdown-submenu.show > .dropdown-menu {
    display: block;
  }